.Header{
    padding:30px 15px;
    opacity: 0.9;
}

.headerLeft{
    display: flex;
    flex-direction: row;
}

.headerLeft > p{
    margin-left: 20px;
}

.headerRight{
    display: flex;
    flex-direction: row;
   
}

.headerRight > p{
    margin-left: 20px;
    
}